/** CSS reset **/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Now the blog's styles! */
body {
    font-family: verdana, helvetica, arial, sans-serif;
}

p {
    margin: 1.12em 0;
}

p:first-child {
    margin-top: 0px;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

code {
    font-family: monospace;
}

.st {
    text-decoration: line-through;
}

a {
    color: #666666;
    text-decoration: none;
    text-shadow: 2px 2px 2px #CCCCCC;
}

a:hover {
    color: #AAAAAA;
}

/* Layout */
#leftcolumn {
    width: 300px;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    /* IE10 */
    background-image: -ms-linear-gradient(left, #FFFFFF 95%, #EEEEEE 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(left, #FFFFFF 95%, #EEEEEE 100%);
    /* Opera */
    background-image: -o-linear-gradient(left, #FFFFFF 95%, #EEEEEE 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0.95, #FFFFFF), color-stop(1, #EEEEEE));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(left, #FFFFFF 95%, #EEEEEE 100%);
    /* Proposed W3C Markup */
    background-image: linear-gradient(left, #FFFFFF 95%, #EEEEEE 100%);
}

#rightcolumn {
    position: absolute;
    left: 300px;
    top: 0px;
    right: 0px;
    height: 100%;
    background-color: #EEEEEE;
}

/* Left side */
#sitetitle {
    font-size: xx-large;
    font-weight: bold;
    margin: 20px 10px 20px 10px;
}

#sitetitle a {
    text-shadow: 2px 2px 2px #CCCCCC;
}

#siteextra {
    margin: 20px 10px 20px 30px;
    color: #999999;
    font-size: medium;
    font-style: italic;
    text-shadow: 2px 2px 2px #EEEEEE;
}

#mainmenu {
    width: 290px;
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 50px;
    overflow-y: auto;
    overflow-x: hidden;
}

.menuitem {
    display: block;
    width: 100%;
}

.menuitem a {
    display: block;
    width: 100%;
    background: none;
    padding: 3px 0px;
}

.menuitem a:hover {
    /* IE10 */
    background-image: -ms-linear-gradient(left, #FFFFFF 80%, #EEEEEE 85%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(left, #FFFFFF 80%, #EEEEEE 85%);
    /* Opera */
    background-image: -o-linear-gradient(left, #FFFFFF 80%, #EEEEEE 85%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0.8, #FFFFFF), color-stop(0.85, #EEEEEE));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(left, #FFFFFF 80%, #EEEEEE 85%);
    /* Proposed W3C Markup */
    background-image: linear-gradient(left, #FFFFFF 80%, #EEEEEE 85%);
}

.menuitem a.current {
    /* IE10 */
    background-image: -ms-linear-gradient(left, #FFFFFF 0%, #EEEEEE 5%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(left, #FFFFFF 0%, #EEEEEE 5%);
    /* Opera */
    background-image: -o-linear-gradient(left, #FFFFFF 0%, #EEEEEE 5%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0.0, #FFFFFF), color-stop(0.05, #EEEEEE));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(left, #FFFFFF 0%, #EEEEEE 5%);
    /* Proposed W3C Markup */
    background-image: linear-gradient(left, #FFFFFF 0%, #EEEEEE 5%);
}

/* Right side */
#maincontent {
    margin: 0px 0px 20px 10px;
    height: 100%;
    overflow-y: auto;
}

.contentwrapper {
    margin: 10px 30px 10px 20px;
    background: #FFFFFF;
    padding: 10px;
    border: 1px solid #F7F7F7;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}

.blogtitle, .pagetitle {
    font-size: x-large;
    margin-bottom: 0.8em;
    border-bottom: solid #EEEEEE 1px;
    color: #333333;
}

.popularitysummary {
    border-top: dashed 1px #EEEEEE;
    margin-top: 0.3em;
    padding-top: 0.3em;
}

.readmore {
    float: right;
}

.commentcount {
    float: left;
}

.byline {
    font-size: x-small;
    font-style: italic;
    color: #999999;
    float: right;
    margin-top: -1.5em;
}

.adminlinks {
    float: right;
}

.comment {
    margin: 3px;
    padding: 5px;
    background: #F7F7F7;
    border: dashed 1px #EEEEEE;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.commentdate {
    float: right;
}

.commentinfo {
    border-bottom: dashed 1px #DDDDDD;
    padding-bottom: 3px;
    margin-bottom: 0.8em;
}

.dead {
    color: #AAAAAA;
}

.owner {
    background: #EEEEF7;
}


/* common elements */
.visclear {
    margin: 0px !important;
    padding: 0px !important;
    clear: both;
    height: 0px;
    overflow: hidden;
}

.pglinks {
    margin: 10px 30px 10px 20px;
}

.pglinks .pgright {
    float: right;
}

.pglinks .pgleft {
    float: left;
}

.pglinks a {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    padding: 3px;
    border: 1px solid #F7F7F7;
}

.pglinks .pgleft a {
    /* IE10 */
    background-image: -ms-linear-gradient(left, #FFFFFF 0%, #EEEEEE 85%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(left, #FFFFFF 0%, #EEEEEE 85%);
    /* Opera */
    background-image: -o-linear-gradient(left, #FFFFFF 0%, #EEEEEE 85%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #FFFFFF), color-stop(0.85, #EEEEEE));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(left, #FFFFFF 0%, #EEEEEE 85%);
    /* Proposed W3C Markup */
    background-image: linear-gradient(left, #FFFFFF 0%, #EEEEEE 85%);
    border-right: none;
}

.pglinks .pgright a {
    /* IE10 */
    background-image: -ms-linear-gradient(left, #EEEEEE 15%, #FFFFFF 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(left, #EEEEEE 15%, #FFFFFF 100%);
    /* Opera */
    background-image: -o-linear-gradient(left, #EEEEEE 15%, #FFFFFF 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0.15, #EEEEEE), color-stop(1, #FFFFFF));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(left, #EEEEEE 15%, #FFFFFF 100%);
    /* Proposed W3C Markup */
    background-image: linear-gradient(left, #EEEEEE 15%, #FFFFFF 100%);
    border-left: none;
}

/* Forms */
.formfield {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 8px;
    margin-left: 15px;
    text-transform: capitalize;
}

.formfield input {
    margin-left: 18px;
    width: 300px;
}

.formfield input.shortfield {
    width: 50px;
}

.formfield textarea {
    margin-left: 18px;
    width: 300px;
    height: 160px;
}

.formfield textarea.bigfield {
    margin-left: 18px;
    width: 500px;
    height: 360px;
}

.formfield .explain {
    font-weight: normal;
    font-size: small;
    font-style: italic;
    color: #AAAAAA;
    margin-left: 5px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 3ex;
    height: 1.2em;
    line-height: 1.2em;
    text-transform: none;
    background: #FFFFFF;
    vertical-align: top;
}

.formfield .explain:before {
    content: "(?) ";
    font-style: normal;
}

.formfield .explain:hover {
    width: auto;
    max-width: 300px;
    white-space: normal;
    overflow: visible;
    padding-left: 3ex;
    text-indent: -3ex;
}

#whinney {
    overflow: hidden;
    width: 0px;
    height: 0px;
    margin: 0px;
    padding: 0px;
}

.error {
    color: #660000;
    background-color: #FF9999;
    border: 2px #993333 solid;
    font-weight: bold;
    margin: 3px;
    padding: 8px;
    display: none;
}

.error.visible {
    display: block;
}

.mention {
    color: #AA6666;
    background: #F7F7F7;
    border: dashed 1px #AA6666;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    margin: 8px 3px;
    padding: 5px;
    display: none;
}

.mention.visible {
    display: block;
}

.listtable {
    width: 100%;
    border-collapse: collapse;
}

.listtable td, .listtable th {
    padding: 3px;
    width: 200px;
}

.listtable td {
    border-top: dashed #EEEEEE 1px;
}

.listtable tr td:first-child, .listtable tr th:first-child {
    width: auto;
}

.listtable tr:hover td {
    background: #EEEEFF;
}